<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYmwsbo2_Z4EcUkBfqjeRmQ4xID2b3h4g</string>
	<key>GCM_SENDER_ID</key>
	<string>62349878304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-5b45e</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-5b45e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62349878304:ios:99ce46819bd30365728845</string>
</dict>
</plist>